/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* FONT LINK */
body{
    font-family: 'Bitter', serif;
}

/*EDIT COLORS HERE*/
:root {
    --white: #fff;
    --coral: #ff7f50;
    --black: #000;
    --grey: #c2c2c2;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1, .h1replace{
    font-size: 30px;
    font-weight: 500;
}

h2{
    font-size: 25px;
}


h3{
    font-size: 20px;
}

h4{
    font-size: 19px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 17px;
}

/* TEXT */
p{
    font-weight: 400;
    padding: 1em;
}

a{
    text-decoration: none;
    color: var(--coral);
}

a:hover{
    color: var(--coral);
    transition: 0.4s;
}

b{
    font-weight: 700;
}

/* PHOTOS */
.photos {
    text-align: center;
    padding: 1em;
}

img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 2em;
}

a figcaption {
    visibility: hidden;
}

.photos:hover figcaption{
    transition: 0.4s;
    visibility: visible;
}


img:hover{
    background-color: var(--black);
}

@media screen and (max-width:758px){
    img{
        border-radius: 1em;
    }
}

/* BUTTONS */
.button{
    font-family: 'Bitter', serif;
    text-align: center;
    background: transparent;
    font-size: 20px;
    border: 2px solid var(--black);
    padding: 15px 60px;
    padding-left: 2em;
    padding-right: 2em;
    color: var(--black);
}

.button:hover{
    border: 2px solid var(--coral);
    transition: 0.4s;
    color: var(--coral);
    cursor: pointer;    
}

.button--white{
    font-family: 'Bitter', serif;
    text-align: center;
    background: transparent;
    font-size: 20px;
    border: 2px solid var(--white);
    padding: 15px 60px;
    color: var(--white);
}

.button--black{
    font-family: 'Bitter', serif;
    text-align: center;
    background: transparent;
    font-size: 20px;
    border: 2px solid var(--black);
    padding: 15px 60px;
}



/* LISTS */
.num{
    background-color: var(--black);
    color: var(--white);
    padding: 2em 4em;
    border-radius: 2em;
}

.num li{
    padding: 0.5em 0;
}

.point{
    list-style: circle inside;
    background-color: var(--black);
    color: var(--white);
    padding: 2em 4em;
    border-radius: 2em;
}

.point li{
    padding: 0.5em 0;
}

.grey{
    background-color: var(--grey);
    color: var(--black);
}

/* TABLES */
table, th, td {
    padding: 1em;
    margin: 2em;
  }

table {
    border-collapse: collapse;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

th{
    background-color: var(--black);
    color: var(--white);
    border: 1px var(--black) solid;
}

td{
    background-color: var(--grey);
    color: var(--black);
    border: 1px grey solid;
}

@media screen and (max-width:758px){
    table{
        width: 300px;
    }
}
