body,html{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    background-color: #000000;
    position: sticky;
    top: 0;
    padding: 10px 0;
    color: #ffffff;
    z-index: 1;
}

nav{
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
}

nav li a{
    color: #ffffff;
}

nav li a:hover{
    color: coral;
}

.logo > a{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}


.menu-btn {
    font-size: 26px;
    cursor: pointer;
    display: none;
}

section{
    max-width: 1100px;
    margin: 0 auto;
}

.banner h1 {
    font-size: 50px;
    padding-top: 1.2em;
}

.banner {
    background: linear-gradient(90deg, rgba(66,60,154,1) 0%, rgba(185,81,213,1) 36%, rgba(185,81,213,1) 72%, rgba(66,60,154,1) 100%);
    margin-top: -40px;
}

.banner_content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2em;
    padding-right: 2em;
    color: #ffffff;
}

.banner_content_text{
    padding-left: 2em;
    padding-right: 2em;
}


.banner_content img{
    width: 350px;
    height: auto;
    margin-top: 68px;
}

.banner_content_text{
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.banner_content_text a{
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 15px 60px;
    width: 180px;
}

.banner_content_text a:hover{
    border: 2px solid coral;
    color: coral;
    transition: 0.4s;
}

.banner_content img:hover{
    background-color: transparent;
}

@media screen and (max-width:340px) {
    .banner{
        background: #423c9a;
    }

    .banner_content_text a{
        margin: 0 auto;
    }
}

@media screen and (max-width:955px) and (min-width:341px){
    .banner{
        background-color: #423c9a;
    }

    .banner_content_text a{
        margin: 0 auto;
    }

    .banner_content_text h1{
        text-align: center;
    }

    .banner_content{
    flex-direction: column;
    }

    .banner_content img{
        margin: 0 auto;
        width: 250px;
    }
    
}

@media screen and (max-width:1024px) and (min-width:956px){
   
}

@media screen and (min-width:1025px){
    
}
