body,html{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    background-color: #000000;
    position: sticky;
    top: 0;
    padding: 10px 0;
    color: #ffffff;
}

nav{
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
}

nav li a{
    color: #ffffff;
}

nav li a:hover{
    color: coral;
}

.logo > a{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}


.menu-btn {
    font-size: 26px;
    cursor: pointer;
    display: none;
}
